name: cd
on:
  workflow_run:
    workflows: ["ci"]
    branches-ignore: ["*"]
    types:
      - completed
  push:
    tags:
      - "v*"

permissions:
  contents: read
  id-token: write

jobs:
  plugin-cd:
    uses: mattermost/actions-workflows/.github/workflows/plugin-cd.yml@27ec0762e525bd6302ef943f819b91cb13ba1236
    secrets: inherit
